<h2>Add fruit</h2>
Name: <input type="text" [(ngModel)]="newFruitName" style="width: 140px;">
<br>
Color:
<select [(ngModel)]="newFruitColor" style="width: 150px;">
  <option *ngFor="let color of availableColors" [ngValue]="color">{{color}}</option>
</select>
<br>
<button (click)="addFruit()">Add</button>
<br>

<div *ngIf="fruits.length != 0; else emptyBasket">
  <h2>Your fruits:</h2>
  <div *ngFor="let fruit of fruits" style="
    margin: 10px;
    width: 100px;
    height: 100px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 50px;
    font-weight: bold;
    float: left;" [ngStyle]="{'background': fruit.color}">
    {{fruit.name}}
  </div>
</div>

<ng-template #emptyBasket>
  <h2>Your basket is empty.</h2> 
</ng-template>


